{% extends 'blog-templates/base.html' %}
{% load static %}
{% block title %}
صفحه اصلی
{% endblock %}

{% block body %}


    <!-- Hero Start -->
    <section class="bg-half-170 d-table w-100" style="background: url({% static 'images/plant/plant.jpg' %}) center;">
        <div class="bg-overlay bg-gradient-overlay"></div>
        <div class="container">
            <div class="row g-0 align-items-center mt-5">
                <div class="col-12">
                    <div class="title-heading">
                        <h5 class="heading fw-semibold page-heading text-white">14 ایده دیوار گل برای <br> یک عروسی
                            فراموش نشدنی</h5>

                        <ul class="list-inline text-end mb-0 mt-4">
                            <li class="list-inline-item ms-md-5 ms-4 ms-sm-0 mt-4">
                                <span class="text-white-50 d-block">نویسنده</span>
                                <a href="blog-author.html" class="text-white">احمد احمدی</a>
                            </li>

                            <li class="list-inline-item ms-md-5 ms-4 ms-sm-0 mt-4">
                                <span class="text-white-50 d-block">تاریخ</span>
                                <span class="text-white">1401/05/09</span>
                            </li>

                            <li class="list-inline-item ms-md-5 ms-4 ms-sm-0 mt-4">
                                <span class="text-white-50 d-block">زمان خواندن</span>
                                <span class="text-white">8 دقیقه</span>
                            </li>
                        </ul>
                    </div>

                    <div class="position-absolute top-50 start-0 d-none d-md-block">
                        <nav aria-label="breadcrumb" class="d-flex" style="transform: rotate(-90deg);">
                            <ul class="breadcrumb breadcrumb-muted mb-0 p-0">
                                <li class="breadcrumb-item"><a href="index-2.html">گت بلاگ</a></li>
                                <li class="breadcrumb-item"><a href="#">گیاه</a></li>
                                <li class="breadcrumb-item active" aria-current="page">جزئیات گیاه</li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!--end section-->
    <!-- Hero End -->

    <!-- Start -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-6">
                    <div class="card">
                        <div class="card-body shadow rounded">

                            <p class="text-muted"><span class="dropcaps display-4 text-dark ms-2">ل</span>لورم ایپسوم
                                متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                                چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی
                                تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای
                            </p>
                            <p class="text-muted mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                                استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای
                                کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، </p>

                            <blockquote class="text-center mx-auto blockquote"><i class="mdi mdi-format-quote-open mdi-48px text-muted opacity-2 d-block"></i> مردی که
                                از طریق درب در دیوار برمی گردد ، هرگز کاملاً مشابه مردی که بیرون رفت ، نخواهد بود.
                                <small class="d-block text-muted mt-2">- ادیسون</small>
                            </blockquote>

                            <p class="text-muted">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                                استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود </p>

                            <a href="javascript:void(0)" class="badge bg-primary">مینیمال</a>
                            <a href="javascript:void(0)" class="badge bg-primary">داخلی</a>
                            <a href="javascript:void(0)" class="badge bg-primary">مبلمان</a>
                            <div class="card mt-4 rounded overflow-hidden">
                                <img src="{% static 'images\client\01.jpg' %}" class="img-fluid rounded shadow" alt="">

                                <div class="position-absolute bottom-0 start-50 translate-middle-x text-center mb-3 ms-4">
                                    <p class="fst-italic text-white mb-0">مردی که از طریق درب در دیوار برمی گردد ، هرگز
                                        کاملاً مشابه مردی که بیرون رفت ، نخواهد بود.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card shadow rounded border-0 mt-5">
                        <div class="card-body">
                            <h5 class="card-title mb-0">نظرات :</h5>

                            <ul class="media-list list-unstyled mt-4 mb-0">
                                <li class="pt-3">
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <a class="ps-3" href="#">
                                                <img src="{% static 'images\client\01.jpg' %}" class="img-fluid avatar avatar-md-sm rounded-circle shadow" alt="img">
                                            </a>
                                            <div class="commentor-detail">
                                                <h6 class="mb-0"><a href="javascript:void(0)" class="text-dark media-heading">احمد احمدی</a></h6>
                                                <small class="text-muted">1401/05/09</small>
                                            </div>
                                        </div>
                                        <a href="#" class="text-muted"><i class="mdi mdi-reply"></i> پاسخ</a>
                                    </div>
                                    <div class="mt-3">
                                        <p class="text-muted fst-italic p-3 bg-light rounded">" لورم ایپسوم متن ساختگی
                                            با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                                            چاپگرها و متون بلکه روزنامه و مجله "</p>
                                    </div>
                                </li>

                                <li class="mt-4">
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <a class="ps-3" href="#">
                                                <img src="{% static 'images\client\02.jpg' %}" class="img-fluid avatar avatar-md-sm rounded-circle shadow" alt="img">
                                            </a>
                                            <div class="commentor-detail">
                                                <h6 class="mb-0"><a href="javascript:void(0)" class="media-heading text-dark">محسن محسنی</a></h6>
                                                <small class="text-muted">1401/05/09</small>
                                            </div>
                                        </div>
                                        <a href="#" class="text-muted"><i class="mdi mdi-reply"></i> پاسخ</a>
                                    </div>
                                    <div class="mt-3">
                                        <p class="text-muted fst-italic p-3 bg-light rounded">" لورم ایپسوم متن ساختگی
                                            با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                                            چاپگرها و متون بلکه روزنامه و مجله "</p>
                                    </div>
                                </li>

                                <li class="mt-4">
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <a class="ps-3" href="#">
                                                <img src="{% static 'images\client\03.jpg' %}" class="img-fluid avatar avatar-md-sm rounded-circle shadow" alt="img">
                                            </a>
                                            <div class="commentor-detail">
                                                <h6 class="mb-0"><a href="javascript:void(0)" class="media-heading text-dark">علی علیزاده</a></h6>
                                                <small class="text-muted">1401/05/09</small>
                                            </div>
                                        </div>
                                        <a href="#" class="text-muted"><i class="mdi mdi-reply"></i> پاسخ</a>
                                    </div>
                                    <div class="mt-3">
                                        <p class="text-muted fst-italic p-3 bg-light rounded">" لورم ایپسوم متن ساختگی
                                            با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                                            چاپگرها و متون بلکه روزنامه و مجله "</p>
                                    </div>

                                    <ul class="list-unstyled ps-4 ps-md-5 sub-comment">
                                        <li class="mt-4">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <a class="ps-3" href="#">
                                                        <img src="{% static 'images\client\01.jpg' %}" class="img-fluid avatar avatar-md-sm rounded-circle shadow" alt="img">
                                                    </a>
                                                    <div class="commentor-detail">
                                                        <h6 class="mb-0"><a href="javascript:void(0)" class="text-dark media-heading">امیر امیری</a></h6>
                                                        <small class="text-muted">1401/05/09</small>
                                                    </div>
                                                </div>
                                                <a href="#" class="text-muted"><i class="mdi mdi-reply"></i> پاسخ</a>
                                            </div>
                                            <div class="mt-3">
                                                <p class="text-muted fst-italic p-3 bg-light rounded">" لورم ایپسوم متن
                                                    ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان
                                                    گرافیک است، چاپگرها و متون بلکه روزنامه و مجله "</p>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="card shadow rounded border-0 mt-5">
                        <div class="card-body">
                            <h5 class="card-title mb-0">نظر خود را ینویسید :</h5>

                            <form class="mt-4">
                                <div class="row pt-3">
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label class="form-label">نظر شما</label>
                                            <textarea id="message" placeholder="نظر ..." rows="5" name="message" class="form-control" required=""></textarea>
                                        </div>
                                    </div>
                                    <!--end col-->

                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">نام <span class="text-danger">*</span></label>
                                            <input id="name" name="name" type="text" placeholder="نام" class="form-control" required="">
                                        </div>
                                    </div>
                                    <!--end col-->

                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">ایمیل <span class="text-danger">*</span></label>
                                            <input id="email" type="email" placeholder="ایمیل" name="email" class="form-control" required="">
                                        </div>
                                    </div>
                                    <!--end col-->

                                    <div class="col-md-12">
                                        <div class="send d-grid">
                                            <button type="submit" class="btn btn-primary">ارسال نظر</button>
                                        </div>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </form>
                            <!--end form-->
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2 mt-sm-0 pt-sm-0">
                    <div class="sidebar sticky-bar ms-lg-4">
                        <div class="text-center">
                            <h5>درباره من</h5>

                            <div class="mt-4">
                                <img src="{% static 'images\users\user-3.jpg' %}" class="avatar avatar-medium rounded-pill shadow-md" alt="">

                                <div class="content mt-3">
                                    <a href="#!" class="text-dark h6 d-block mb-0">احمد احمدس</a>

                                    <small class="d-block text-muted mt-1">عکاس</small>
                                </div>
                            </div>
                        </div>

                        <div class="mt-5 text-center">
                            <h5>پست های محبوب</h5>

                            <div class="widget mt-4">
                                <div class="d-flex align-items-center text-end">
                                    <img src="{% static 'images\plant\n1.jpg' %}" class="avatar avatar-md-md rounded-pill" style="width: auto;" alt="">
                                    <div class="flex-1 me-3">
                                        <a href="agency-blog-detail.html" class="d-block widget-post-title text-dark">مشاوره کسب و کار</a>
                                        <span class="text-muted">1401/05/09</span>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center text-end mt-3">
                                    <img src="{% static 'images\plant\n2.jpg' %}" class="avatar avatar-md-md rounded-pill" style="width: auto;" alt="">
                                    <div class="flex-1 me-3">
                                        <a href="agency-blog-detail.html" class="d-block widget-post-title text-dark">کسب و کار خود را گسترش دهید</a>
                                        <span class="text-muted">1401/05/09</span>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center text-end mt-3">
                                    <img src="{% static 'images\plant\n3.jpg' %}" class="avatar avatar-md-md rounded-pill" style="width: auto;" alt="">
                                    <div class="flex-1 me-3">
                                        <a href="agency-blog-detail.html" class="d-block widget-post-title text-dark">به
                                            تعادل باشکوه نگاه کنید</a>
                                        <span class="text-muted">1401/05/09</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-5 text-center">
                            <h5>تگ ها</h5>

                            <div class="widget mt-4 text-center">
                                <div class="tagcloud">
                                    <a href="javascript:void(0)" class="rounded text-dark">کسب و کار</a>
                                    <a href="javascript:void(0)" class="rounded text-dark">دارایی</a>
                                    <a href="javascript:void(0)" class="rounded text-dark">بازاریابی</a>
                                    <a href="javascript:void(0)" class="rounded text-dark">فشن</a>
                                    <a href="javascript:void(0)" class="rounded text-dark">عروس</a>
                                    <a href="javascript:void(0)" class="rounded text-dark">سبک زندگی</a>
                                    <a href="javascript:void(0)" class="rounded text-dark">مسافرت</a>
                                    <a href="javascript:void(0)" class="rounded text-dark">زیبایی</a>
                                    <a href="javascript:void(0)" class="rounded text-dark">ویدیو</a>
                                    <a href="javascript:void(0)" class="rounded text-dark">صدا</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!--end section-->
    <!-- End -->

{% endblock %}