{% extends 'blog-templates/base.html' %}
{% load static %}
{% block title %}
صفحه اصلی
{% endblock %}

{% block body %}

    <section class="magazine-hero section-two">
        <div class="container">
            <div id="grid" class="row g-3">
                {% for b in f_a_b %}
                <div class="col-lg-6 picture-item">
                    <div class="blog blog-primary position-relative border-0 overflow-hidden shadow">
                        <div class="blog-image position-relative overflow-hidden">
                            <img src="{{ b.image.url }}" style="height: 550px;" class="img-fluid" alt="">
                            <div class="bg-overlay opacity-8"></div>
                        </div>
                        <div class="card-body content position-absolute bottom-0 start-0 end-0">
                            <span class="badge bg rounded-pill">{{ b.category }}</span>
                            <a href="{{ b.get_absolut_url }}" class="text-white h5 d-block mt-3 title mb-0">{{ b.title }}</a>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <div class="col-lg-6 picture-item">
                    <div class="row g-3">
                        {% for f in f_a %}
                        <div class="col-md-6 picture-item">
                            <div class="blog blog-primary position-relative border-0 overflow-hidden shadow">
                                <div class="blog-image position-relative overflow-hidden">
                                    <img src="{{ f.image.url }}" style="height: 270px; width: fit-content" class="img-fluid" alt="">
                                    <div class="bg-overlay opacity-8"></div>

                                    <div class="position-absolute top-0 start-0">
                                        <span class="badge bg rounded-pill m-3">{{ f.category }}</span>
                                    </div>
                                </div>

                                <div class="card-body content position-absolute bottom-0 start-0 end-0">
                                    <a href="{{ f.get_absolut_url }}" class="text-white h5 title mb-0">{{ f.title }}</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->

        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <img src="{% static 'images\advertise.jpg' %}" class="img-fluid" alt="">
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->

        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-3 col-md-6 order-2 order-lg-1 order-md-2 mt-4 pt-2 mt-lg-0 pt-lg-0">
                    <div class="sticky-bar">
                        <div class="section-title py-3 border-top border-bottom">
                            <h4 class="mb-0">خبر فوری</h4>
                        </div>

                        <div class="card blog blog-primary border-0 mt-4">
                            <img src="{% static 'images\agency\1.jpg' %}" class="img-fluid rounded-0 shadow" alt="">

                            <div class="pt-3">
                                <a href="magazine-news-detail.html" class="text-dark h5 title mb-0">بازاریابی موبایل ،
                                    سنتز آن و 2021 پیش آگهی ارائه می دهد</a>

                                <span class="text-muted mt-2 d-block">1401/05/09</span>
                            </div>
                        </div>

                        <!-- RECENT POST -->
                        <div class="widget mt-4 pt-4 border-top">
                            <div class="d-flex align-items-center">
                                <img src="{% static 'images\agency\1.jpg' %}" class="avatar avatar-small" style="width: auto;" alt="">
                                <div class="flex-1 me-3">
                                    <a href="magazine-news-detail.html" class="d-block widget-post-title text-dark">مشاور کسب و کار</a>
                                    <span class="text-muted">1401/09/07</span>
                                </div>
                            </div>

                            <div class="d-flex align-items-center mt-3">
                                <img src="{% static 'images\agency\2.jpg' %}" class="avatar avatar-small" style="width: auto;" alt="">
                                <div class="flex-1 me-3">
                                    <a href="magazine-news-detail.html" class="d-block widget-post-title text-dark">کسب
                                        و کار خود را گسترش دهید</a>
                                    <span class="text-muted">1401/09/07</span>
                                </div>
                            </div>

                            <div class="d-flex align-items-center mt-3">
                                <img src="{% static 'images\agency\3.jpg' %}" class="avatar avatar-small" style="width: auto;" alt="">
                                <div class="flex-1 me-3">
                                    <a href="magazine-news-detail.html" class="d-block widget-post-title text-dark">به
                                        تعادل باشکوه نگاه کنید</a>
                                    <span class="text-muted">1401/09/07</span>
                                </div>
                            </div>
                        </div>
                        <!-- RECENT POST -->

                        <!-- TAG CLOUDS -->
                        <div class="widget mt-4 pt-4 border-top">
                            <h6 class="widget-title font-weight-bold pt-2 pb-2 bg-light rounded text-center">دسته بندی
                                ها</h6>
                            <ul class="list-unstyled mt-4 mb-0 catagories">
                                <li class="d-flex justify-content-between"><a href="javascript:void(0)" class="title text-dark">دارایی</a> <span>(13)</span></li>
                                <li class="d-flex justify-content-between mt-2"><a href="javascript:void(0)" class="title text-dark">کسب و کار</a> <span>(09)</span></li>
                                <li class="d-flex justify-content-between mt-2"><a href="javascript:void(0)" class="title text-dark">بلاگ</a> <span>(18)</span></li>
                                <li class="d-flex justify-content-between mt-2"><a href="javascript:void(0)" class="title text-dark">شرکت های بزرگ</a> <span>(20)</span></li>
                                <li class="d-flex justify-content-between mt-2"><a href="javascript:void(0)" class="title text-dark">سرمایه گذاری</a> <span>(22)</span></li>
                            </ul>
                        </div>
                        <!-- TAG CLOUDS -->
                    </div>
                </div>
                <!--end col-->

                <div class="col-lg-3 col-md-6 order-3 order-lg-3 order-md-2 mt-4 pt-2 mt-lg-0 pt-lg-0">
                    <div class="sticky-bar">
                        <div class="section-title py-3 border-top border-bottom">
                            <h4 class="mb-0">اخبار اخیر</h4>
                        </div>

                        <div class="d-flex align-items-center mt-4">
                            <img src="{% static 'images\business\h1.jpg' %}" class="img-fluid rounded-pill avatar avatar-small" alt="">
                            <div class="blog blog-primary overflow-hidden pe-3">
                                <a href="magazine-news-detail.html" class="text-dark title d-block">مدیریت داده آسان</a>

                                <span class="text-muted d-block">1401/08/07</span>
                            </div>
                        </div>

                        <div class="d-flex align-items-center mt-4">
                            <img src="{% static 'images\business\h2.jpg' %}" class="img-fluid rounded-pill avatar avatar-small" alt="">
                            <div class="blog blog-primary overflow-hidden pe-3">
                                <a href="magazine-news-detail.html" class="text-dark title d-block">استراتژی های تجاری
                                    مؤثر</a>

                                <span class="text-muted d-block">1401/08/07</span>
                            </div>
                        </div>

                        <div class="d-flex align-items-center mt-4">
                            <img src="{% static 'images\business\h3.jpg' %}" class="img-fluid rounded-pill avatar avatar-small" alt="">
                            <div class="blog blog-primary overflow-hidden pe-3">
                                <a href="magazine-news-detail.html" class="text-dark title d-block">مدل های تجاری کلاسیک
                                    برای استارتاپ ها</a>

                                <span class="text-muted d-block">1401/08/07</span>
                            </div>
                        </div>

                        <div class="d-flex align-items-center mt-4">
                            <img src="{% static 'images\magazine\h1.jpg' %}" class="img-fluid rounded-pill avatar avatar-small" alt="">
                            <div class="blog blog-primary overflow-hidden pe-3">
                                <a href="magazine-news-detail.html" class="text-dark title d-block">مدیریت داده آسان</a>

                                <span class="text-muted d-block">1401/08/07</span>
                            </div>
                        </div>

                        <div class="d-flex align-items-center mt-4">
                            <img src="{% static 'images\magazine\h2.jpg' %}" class="img-fluid rounded-pill avatar avatar-small" alt="">
                            <div class="blog blog-primary overflow-hidden pe-3">
                                <a href="magazine-news-detail.html" class="text-dark title d-block">استراتژی های تجاری
                                    مؤثر</a>

                                <span class="text-muted d-block">1401/08/07</span>
                            </div>
                        </div>

                        <div class="d-flex align-items-center mt-4">
                            <img src="{% static 'images\magazine\h3.jpg' %}" class="img-fluid rounded-pill avatar avatar-small" alt="">
                            <div class="blog blog-primary overflow-hidden pe-3">
                                <a href="magazine-news-detail.html" class="text-dark title d-block">مدل های تجاری کلاسیک
                                    برای استارتاپ ها</a>

                                <span class="text-muted d-block">1401/08/07</span>
                            </div>
                        </div>

                        <div class="mt-4 pt-2">
                            <a href="https://1.envato.market/landrick" target="_blank"><img src="{% static 'images\offer.png' %}" class="img-fluid" alt=""></a>
                        </div>

                        <div class="widget mt-4 pt-2 text-center">
                            <h6 class="widget-title font-weight-bold pt-2 pb-2 bg-light">شبکه های اجتماعی</h6>

                            <ul class="list-unstyled social-icon tagline-social mb-0 mt-4">
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-github"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-linkedin"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-whatsapp"></i></a></li>
                            </ul>
                            <!--end icon-->
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="col-lg-6 order-1 order-lg-2">
                    <div class="row">
                        <div class="col-12">
                            <div class="card blog blog-primary border-0">
                                <img src="images\agency\2.jpg" class="img-fluid rounded-0 shadow" alt="">

                                <div class="pt-3">
                                    <a href="magazine-news-detail.html" class="text-dark h5 title">نگران مهلت ها
                                        نباشید!ما شما را پوشانده ایم</a>

                                    <p class="text-muted mt-3">اگر توزیع حروف و "کلمات" تصادفی باشد ، خواننده از ایجاد
                                        قضاوت خنثی در مورد تأثیر بصری و خوانایی حواس پرتی نخواهد بود</p>

                                    <ul class="list-unstyled d-flex align-items-center mb-0">
                                        <li class="d-flex align-items-center">
                                            <img src="{% static 'images\users\user-1.jpg' %}" class="avatar avatar-sm-sm rounded-pill shadow" alt="">

                                            <a href="#!" class="text-dark h6 mb-0 author me-2">احمدی</a>
                                        </li>

                                        <li>
                                            <span class="text-muted me-4"><i class="uil uil-calendar-alt text-dark"></i>
                                                1401/08/07</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->

                    <div class="row border-top mt-4 pt-2">
                        <div class="col-md-6 mt-4 pt-2">
                            <div class="card blog blog-primary border-0">
                                <img src="{% static 'images\agency\5.jpg' %}" class="img-fluid rounded-0 shadow" alt="">

                                <div class="pt-3">
                                    <a href="magazine-news-detail.html" class="text-dark h5 title mb-0">بازاریابی موبایل
                                        ، سنتز آن و 2021 پیش آگهی ارائه می دهد</a>

                                    <span class="text-muted mt-2 d-block">1401/08/07</span>
                                </div>
                            </div>
                        </div>
                        <!--end col-->

                        <div class="col-md-6 mt-4 pt-2">
                            <div class="card blog blog-primary border-0">
                                <img src="{% static 'images\agency\6.jpg' %}" class="img-fluid rounded-0 shadow" alt="">

                                <div class="pt-3">
                                    <a href="magazine-news-detail.html" class="text-dark h5 title mb-0">نگران مهلت ها
                                        نباشید!ما شما را پوشانده ایم</a>

                                    <span class="text-muted mt-2 d-block">1401/08/07</span>
                                </div>
                            </div>
                        </div>
                        <!--end col-->

                        <div class="col-md-6 mt-4 pt-2">
                            <div class="card blog blog-primary border-0">
                                <img src="{% static 'images\agency\7.jpg' %}" class="img-fluid rounded-0 shadow" alt="">

                                <div class="pt-3">
                                    <a href="magazine-news-detail.html" class="text-dark h5 title mb-0">استراتژی خود را
                                        تغییر دهید: یک مشاور تجاری پیدا کنید</a>

                                    <span class="text-muted mt-2 d-block">1401/08/07</span>
                                </div>
                            </div>
                        </div>
                        <!--end col-->

                        <div class="col-md-6 mt-4 pt-2">
                            <div class="card blog blog-primary border-0">
                                <img src="{% static 'images\agency\8.jpg' %}" class="img-fluid rounded-0 shadow" alt="">

                                <div class="pt-3">
                                    <a href="magazine-news-detail.html" class="text-dark h5 title mb-0">همه چیز در مورد
                                        مدل سازی مالی</a>

                                    <span class="text-muted mt-2 d-block">1401/08/07</span>
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->

        <div class="container mt-5">
            <div class="row">
                <div class="col-12">
                    <div class="p-4 py-lg-5 shadow bg position-relative overflow-hidden" style="background: url('images/cta.jpg') top;">
                        <div class="bg-overlay"></div>

                        <div class="row align-items-center">
                            <div class="col-lg-8">
                                <div class="section-title">
                                    <h4 class="text-white">صحبت کافی ، بیایید با هم چیزی بسازیم</h4>
                                    <p class="text-white-50 mb-0">طراحان همگام سازی ، توسعه دهندگان ، مدیران ،
                                        پیمانکاران و ذینفعان در یک ابزار مبتنی بر ابر.</p>
                                </div>
                            </div>
                            <!--end col-->

                            <div class="col-lg-4 text-lg-start mt-4 mt-lg-0">
                                <a href="#!" class="btn btn-primary">گسترش کسب و کار</a>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->

    </section>
    <!--end section-->
{% endblock %}