{% extends 'blog-templates/base.html' %}
{% load static %}
{% block title %}
صفحه اصلی
{% endblock %}

{% block body %}

    <section class="magazine-hero section-two">
        <div class="container">
            <div id="grid" class="row g-3">
                {% for b in f_a_b %}
                <div class="col-lg-6 picture-item">
                    <div class="blog blog-primary position-relative border-0 overflow-hidden shadow">
                        <div class="blog-image position-relative overflow-hidden">
                            <img src="{{ b.image.url }}" style="height: 550px;" class="img-fluid" alt="">
                            <div class="bg-overlay opacity-8"></div>
                        </div>
                        <div class="card-body content position-absolute bottom-0 start-0 end-0">
                            <span class="badge bg rounded-pill">{{ b.category }}</span>
                            <a href="{{ b.get_absolut_url }}" class="text-white h5 d-block mt-3 title mb-0">{{ b.title }}</a>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <div class="col-lg-6 picture-item">
                    <div class="row g-3">
                        {% for f in f_a %}
                        <div class="col-md-6 picture-item">
                            <div class="blog blog-primary position-relative border-0 overflow-hidden shadow">
                                <div class="blog-image position-relative overflow-hidden">
                                    <img src="{{ f.image.url }}" style="height: 270px; width: fit-content" class="img-fluid" alt="">
                                    <div class="bg-overlay opacity-8"></div>

                                    <div class="position-absolute top-0 start-0">
                                        <span class="badge bg rounded-pill m-3">{{ f.category }}</span>
                                    </div>
                                </div>

                                <div class="card-body content position-absolute bottom-0 start-0 end-0">
                                    <a href="{{ f.get_absolut_url }}" class="text-white h5 title mb-0">{{ f.title }}</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->

        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <img src="{% static 'images\connection.jpg' %}" class="img-fluid" alt="">
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->

        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-3 col-md-6 order-2 order-lg-1 order-md-2 mt-4 pt-2 mt-lg-0 pt-lg-0">
                    <div class="sticky-bar">
                        <!-- RECENT POST -->
                        <div class="card rounded overflow-hidden">
                            <img src="{% static 'images\MTB.jpg.jpg' %}" class="img-fluid" alt="">
                            <div class="bg-overlay bg-gradient-overlay"></div>

                            <div class="card-body content position-absolute bottom-0 start-0 end-0 text-center">
                                <img src="{% static 'images\IT-TECH-light.png' %}" height="22" alt="">
                                <h5 class="text-white my-3"></h5>
                            </div>
                        </div>
                        <!-- RECENT POST -->

                        <!-- TAG CLOUDS -->
                        <div class="widget mt-4 pt-4 border-top">
                            <h6 class="widget-title font-weight-bold pt-2 pb-2 bg-light rounded text-center">دسته بندی
                                ها</h6>
                            <ul class="list-unstyled mt-4 mb-0 catagories">
                                {% for c in category %}
                                <li class="d-flex justify-content-between"><a href="/article/{{ c.category_slug }}/" class="title text-dark">{{ c.category_name }}</a> <span>{{ c.articles_count }}</span></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- TAG CLOUDS -->
                    </div>
                </div>
                <!--end col-->

                <div class="col-lg-3 col-md-6 order-3 order-lg-3 order-md-2 mt-4 pt-2 mt-lg-0 pt-lg-0">
                    <div class="sticky-bar">
                        <div class="section-title py-3 border-top border-bottom">
                            <h4 class="mb-0">مقالات اخیر</h4>
                        </div>
                        {% for l in l_a %}
                        <div class="d-flex align-items-center mt-4">
                            <img src="{{ l.image.url }}" class="img-fluid rounded-pill avatar avatar-small" alt="">
                            <div class="blog blog-primary overflow-hidden pe-3">
                                <a href="{{ l.get_absolut_url }}" class="text-dark title d-block">{{ l.title }}</a>

                                <span class="text-muted d-block">{{ l.get_date }}</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!--end col-->

                <div class="col-lg-6 order-1 order-lg-2">
                    <div class="row">
                        <div class="col-12">
                            <div class="card blog blog-primary border-0">
                                <img src="{{ r_a.image.url }}" class="img-fluid rounded-0 shadow" alt="">
                                <div class="pt-3">
                                    <a href="{{ r_a.get_absolut_url }}" class="text-dark h5 title">{{ r_a.title }}</a>

                                    <p class="text-muted mt-3">{{ r_a.description|truncatewords:30|safe }}</p>

                                    <ul class="list-unstyled d-flex align-items-center mb-0 d-flex justify-content-between">
                                        <li class="d-flex align-items-center">
                                            {% if r_a.author.image %}
                                            <img src="{{ r_a.author.image.url }}" class="avatar avatar-sm-sm rounded-pill shadow" alt="">
                                            {% else %}
                                            <img src="{% static 'images\users\user-1.jpg' %}" class="avatar avatar-sm-sm rounded-pill shadow" alt="">
                                            {% endif %}
                                            {% if r_a.author.username %}
                                            <a href="{% url 'blog:author-view' r_a.author.username %}" class="text-dark h6 mb-0 author me-2">{{ r_a.author }}</a>
                                            {% endif %}
                                        </li>
                                        <li>
                                            <span class="text-muted me-4"><i class="uil uil-calendar-alt text-dark"></i>{{ r_a.get_date }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->

                    <div class="row border-top mt-4 pt-2">
                        {% for b in b_a %}
                        <div class="col-md-6 mt-4 pt-2">
                            <div class="card blog blog-primary border-0">
                                <img src="{{ b.image.url }}" class="img-fluid rounded-0 shadow" alt="">

                                <div class="pt-3">
                                    <a href="{{ b.get_absolut_url }}" class="text-dark h5 title mb-0">{{ b.title }}</a>

                                    <span class="text-muted mt-2 d-block">{{ b.get_date }}</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!--end row-->
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
        <!--end container-->

    </section>
    <!--end section-->
{% endblock %}