{% extends 'blog-templates/base.html' %}
{% load static %}
{% block title %}
صفحه اصلی
{% endblock %}

{% block body %}



    <!-- Start -->
    <section class="bg-half-100 d-table w-100">
        <div class="container-fluid">
            <div class="container">
                <div class="row mt-5">
                    <div class="col-md-4">
                        <div class="d-flex align-items-center">
                            <img src="{% static 'images\plant\n1.jpg' %}" class="img-fluid rounded-pill shadow-md avatar avatar-medium" alt="">
                            <div class="blog blog-primary overflow-hidden pe-3">
                                <span class="badge bg-soft">طبیعت</span>
                                <a href="../../../../../templates/Portfolio%20template/rtl-demo-getblog.aryazdh.ir/plant-detail.html" class="text-dark h5 title d-block mt-2 mb-0">5 نکته برای
                                    گیاهان بزرگتر</a>
                            </div>
                        </div>
                    </div>
                    <!--end col-->

                    <div class="col-md-4 mt-4 mt-sm-0">
                        <div class="d-flex align-items-center">
                            <img src="{% static 'images\plant\n2.jpg' %}" class="img-fluid rounded-pill shadow-md avatar avatar-medium" alt="">
                            <div class="blog blog-primary overflow-hidden pe-3">
                                <span class="badge bg-soft">افراد</span>
                                <a href="../../../../../templates/Portfolio%20template/rtl-demo-getblog.aryazdh.ir/plant-detail.html" class="text-dark h5 title d-block mt-2 mb-0">آیا گل های خود
                                    را دوست دارید؟</a>
                            </div>
                        </div>
                    </div>
                    <!--end col-->

                    <div class="col-md-4 mt-4 mt-sm-0">
                        <div class="d-flex align-items-center">
                            <img src="{% static 'images\plant\n3.jpg' %}" class="img-fluid rounded-pill shadow-md avatar avatar-medium" alt="">
                            <div class="blog blog-primary overflow-hidden pe-3">
                                <span class="badge bg-soft">گیاهان</span>
                                <a href="../../../../../templates/Portfolio%20template/rtl-demo-getblog.aryazdh.ir/plant-detail.html" class="text-dark h5 title d-block mt-2 mb-0">ایده های کاشت
                                    برای باغ ها</a>
                            </div>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end container-->

            <div class="row justify-content-center row-cols-lg-5 row-cols-md-3 row-cols-1 mt-100 mt-60">
                <div class="col">
                    <div class="card blog blog-type-three blog-primary position-relative border-0 rounded overflow-hidden shadow">
                        <div class="blog-image position-relative overflow-hidden">
                            <img src="{% static 'images\plant\h1.jpg' %}" class="img-fluid" alt="">
                            <div class="img-overlay"></div>

                            <div class="position-absolute top-0 start-0">
                                <span class="badge bg rounded-pill m-3">گیاهان</span>
                            </div>
                        </div>

                        <div class="card-body content">
                            <a href="../../../../../templates/Portfolio%20template/rtl-demo-getblog.aryazdh.ir/plant-detail.html" class="text-white d-block h5 title">بهترین وسایل دکوراسیون داخلی
                                گیاهان و گل ها هستند</a>

                            <span class="d-flex align-items-center">
                                <img src="{% static 'images\users\user-1.jpg' %}" class="avatar avatar-sm-sm rounded-pill" alt="">
                                <a href="#!" class="text-white-50 me-2">احمدی</a>
                            </span>
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="col mt-4 pt-2 mt-sm-0 pt-sm-0">
                    <div class="card blog blog-type-three blog-primary position-relative border-0 rounded overflow-hidden shadow">
                        <div class="blog-image position-relative overflow-hidden">
                            <img src="{% static 'images\plant\h2.jpg' %}" class="img-fluid" alt="">
                            <div class="img-overlay"></div>

                            <div class="position-absolute top-0 start-0">
                                <span class="badge bg rounded-pill m-3">افراد</span>
                            </div>
                        </div>

                        <div class="card-body content">
                            <a href="../../../../../templates/Portfolio%20template/rtl-demo-getblog.aryazdh.ir/plant-detail.html" class="text-white d-block h5 title">نحوه انتخاب ظرف مناسب برای
                                گیاه</a>

                            <span class="d-flex align-items-center">
                                <img src="{% static 'images\users\user-1.jpg' %}" class="avatar avatar-sm-sm rounded-pill" alt="">
                                <a href="#!" class="text-white-50 me-2">احمدی</a>
                            </span>
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="col mt-4 pt-2 mt-sm-0 pt-sm-0">
                    <div class="card blog blog-type-three blog-primary position-relative border-0 rounded overflow-hidden shadow">
                        <div class="blog-image position-relative overflow-hidden">
                            <img src="{% static 'images\plant\h3.jpg' %}" class="img-fluid" alt="">
                            <div class="img-overlay"></div>

                            <div class="position-absolute top-0 start-0">
                                <span class="badge bg rounded-pill m-3">ایده</span>
                            </div>
                        </div>

                        <div class="card-body content">
                            <a href="../../../../../templates/Portfolio%20template/rtl-demo-getblog.aryazdh.ir/plant-detail.html" class="text-white d-block h5 title">تزئیناتی که لذت زیبایی
                                شناختی زیادی را برای همه به ارمغان می آورد</a>

                            <span class="d-flex align-items-center">
                                <img src="{% static 'images\users\user-1.jpg' %}" class="avatar avatar-sm-sm rounded-pill" alt="">
                                <a href="#!" class="text-white-50 me-2">احمدی</a>
                            </span>
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="col mt-4 pt-2 mt-lg-0 pt-lg-0">
                    <div class="card blog blog-type-three blog-primary position-relative border-0 rounded overflow-hidden shadow">
                        <div class="blog-image position-relative overflow-hidden">
                            <img src="{% static 'images\plant\h4.jpg' %}" class="img-fluid" alt="">
                            <div class="img-overlay"></div>

                            <div class="position-absolute top-0 start-0">
                                <span class="badge bg rounded-pill m-3">طبیعت</span>
                            </div>
                        </div>

                        <div class="card-body content">
                            <a href="../../../../../templates/Portfolio%20template/rtl-demo-getblog.aryazdh.ir/plant-detail.html" class="text-white d-block h5 title">چگونه سایه باغ خود را روشن
                                کنیم</a>

                            <span class="d-flex align-items-center">
                                <img src="{% static 'images\users\user-1.jpg' %}" class="avatar avatar-sm-sm rounded-pill" alt="">
                                <a href="#!" class="text-white-50 me-2">احمدی</a>
                            </span>
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="col mt-4 pt-2 mt-lg-0 pt-lg-0">
                    <div class="card blog blog-type-three blog-primary position-relative border-0 rounded overflow-hidden shadow">
                        <div class="blog-image position-relative overflow-hidden">
                            <img src="{% static 'images\plant\h5.jpg' %}" class="img-fluid" alt="">
                            <div class="img-overlay"></div>

                            <div class="position-absolute top-0 start-0">
                                <span class="badge bg rounded-pill m-3">طراحی</span>
                            </div>
                        </div>

                        <div class="card-body content">
                            <a href="../../../../../templates/Portfolio%20template/rtl-demo-getblog.aryazdh.ir/plant-detail.html" class="text-white d-block h5 title">جزئیاتی که هنر سبز شما را
                                ایجاد می کند</a>

                            <span class="d-flex align-items-center">
                                <img src="{% static 'images\users\user-1.jpg' %}" class="avatar avatar-sm-sm rounded-pill" alt="">
                                <a href="#!" class="text-white-50 me-2">احمدی</a>
                            </span>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!--end section-->
    <!-- End -->

    <section class="section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-6 col-12">
                    <div class="col-12">
                        <div class="section-title">
                            <h4 class="title mb-3">آخرین پست ها</h4>
                            <p class="para-desc text-muted mb-0">وبلاگ خود را با گت بلاگ بنویسید که می تواند همه چیز را
                                برای وبلاگ ، اخبار ، مقاله و غیره فراهم کند.</p>
                        </div>
                    </div>
                    <!--end col-->

                    <div class="row">
                        <div class="col-12 mt-4 pt-2">
                            <div class="card blog blog-type-three blog-primary rounded-0 border-0 overflow-hidden">
                                <div class="row align-items-center">
                                    <div class="col-lg-6">
                                        <div class="blog-image position-relative overflow-hidden rounded shadow">
                                            <img src="{% static 'images\plant\b1.jpg' %}" class="img-fluid" alt="">
                                            <div class="img-overlay"></div>

                                            <div class="position-absolute top-0 start-0">
                                                <span class="badge bg rounded-pill m-3">افراد</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end col-->

                                    <div class="col-lg-6 mt-4 mt-lg-0">
                                        <a href="../../../../../templates/Portfolio%20template/rtl-demo-getblog.aryazdh.ir/plant-detail.html" class="card-title title text-dark h5 d-block">تغییر
                                            برای فضای کاری خودت </a>
                                        <p class="text-muted mb-0">به دلیل استفاده گسترده از آن به عنوان متن پرکننده
                                            برای طرح بندی ، عدم خواندن</p>
                                        <div class="post-meta d-flex justify-content-between mt-3">
                                            <ul class="list-unstyled mb-0">
                                                <li class="list-inline-item me-2 mb-0"><a href="javascript:void(0)" class="text-muted like"><i class="uil uil-heart ms-1"></i>33</a>
                                                </li>
                                                <li class="list-inline-item"><a href="javascript:void(0)" class="text-muted comments"><i class="uil uil-comment ms-1"></i>08</a></li>
                                            </ul>
                                            <a href="blog-detail.html" class="text-muted read-more">بیشتر بخوانید <i class="uil uil-arrow-left align-middle"></i></a>
                                        </div>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </div>
                            <!--end blog post-->
                        </div>
                        <!--end col-->

                        <div class="col-12 mt-4 pt-2">
                            <div class="card blog blog-type-three blog-primary rounded-0 border-0 overflow-hidden">
                                <div class="row align-items-center">
                                    <div class="col-lg-6 order-2 order-lg-1 mt-4 mt-lg-0">
                                        <a href="../../../../../templates/Portfolio%20template/rtl-demo-getblog.aryazdh.ir/plant-detail.html" class="card-title title text-dark h5 d-block">یک
                                            فضای کاری خیره کننده برای الهام بخش خود ایجاد کنید</a>
                                        <p class="text-muted mb-0">به دلیل استفاده گسترده از آن به عنوان متن پرکننده
                                            برای طرح بندی ، عدم خواندن</p>
                                        <div class="post-meta d-flex justify-content-between mt-3">
                                            <ul class="list-unstyled mb-0">
                                                <li class="list-inline-item me-2 mb-0"><a href="javascript:void(0)" class="text-muted like"><i class="uil uil-heart ms-1"></i>33</a>
                                                </li>
                                                <li class="list-inline-item"><a href="javascript:void(0)" class="text-muted comments"><i class="uil uil-comment ms-1"></i>08</a></li>
                                            </ul>
                                            <a href="blog-detail.html" class="text-muted read-more">بیشتر بخوانید <i class="uil uil-arrow-left align-middle"></i></a>
                                        </div>
                                    </div>
                                    <!--end col-->

                                    <div class="col-lg-6 order-1 order-lg-2">
                                        <div class="blog-image position-relative overflow-hidden rounded shadow">
                                            <img src="{% static 'images\plant\b2.jpg' %}" class="img-fluid" alt="">
                                            <div class="img-overlay"></div>

                                            <div class="position-absolute top-0 start-0">
                                                <span class="badge bg rounded-pill m-3">افراد</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </div>
                            <!--end blog post-->
                        </div>
                        <!--end col-->

                        <div class="col-12 mt-4 pt-2">
                            <div class="card blog blog-type-three blog-primary rounded-0 border-0 overflow-hidden">
                                <div class="row align-items-center">
                                    <div class="col-lg-6">
                                        <div class="blog-image position-relative overflow-hidden rounded shadow">
                                            <img src="{% static 'images\plant\b3.jpg' %}" class="img-fluid" alt="">
                                            <div class="img-overlay"></div>

                                            <div class="position-absolute top-0 start-0">
                                                <span class="badge bg rounded-pill m-3">افراد</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end col-->

                                    <div class="col-lg-6 mt-4 mt-lg-0">
                                        <a href="../../../../../templates/Portfolio%20template/rtl-demo-getblog.aryazdh.ir/plant-detail.html" class="card-title title text-dark h5 d-block">15
                                            بلوک Creative Cinder</a>
                                        <p class="text-muted mb-0">به دلیل استفاده گسترده از آن به عنوان متن پرکننده
                                            برای طرح بندی ، عدم خواندن</p>
                                        <div class="post-meta d-flex justify-content-between mt-3">
                                            <ul class="list-unstyled mb-0">
                                                <li class="list-inline-item me-2 mb-0"><a href="javascript:void(0)" class="text-muted like"><i class="uil uil-heart me-1"></i>33</a>
                                                </li>
                                                <li class="list-inline-item"><a href="javascript:void(0)" class="text-muted comments"><i class="uil uil-comment me-1"></i>08</a></li>
                                            </ul>
                                            <a href="blog-detail.html" class="text-muted read-more">بیشتر بخوانید <i class="uil uil-arrow-left align-middle"></i></a>
                                        </div>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </div>
                            <!--end blog post-->
                        </div>
                        <!--end col-->

                        <div class="col-12 mt-4 pt-2">
                            <div class="card blog blog-type-three blog-primary rounded-0 border-0 overflow-hidden">
                                <div class="row align-items-center">
                                    <div class="col-lg-6 order-2 order-lg-1 mt-4 mt-lg-0">
                                        <a href="../../../../../templates/Portfolio%20template/rtl-demo-getblog.aryazdh.ir/plant-detail.html" class="card-title title text-dark h5 d-block">نهال
                                            پیوند در حالی که ممکن است به جلو حرکت کند</a>
                                        <p class="text-muted mb-0">به دلیل استفاده گسترده از آن به عنوان متن پرکننده
                                            برای طرح بندی ، عدم خواندن</p>
                                        <div class="post-meta d-flex justify-content-between mt-3">
                                            <ul class="list-unstyled mb-0">
                                                <li class="list-inline-item me-2 mb-0"><a href="javascript:void(0)" class="text-muted like"><i class="uil uil-heart ms-1"></i>33</a>
                                                </li>
                                                <li class="list-inline-item"><a href="javascript:void(0)" class="text-muted comments"><i class="uil uil-comment ms-1"></i>08</a></li>
                                            </ul>
                                            <a href="blog-detail.html" class="text-muted read-more">بیشتر بخوانید <i class="uil uil-arrow-left align-middle"></i></a>
                                        </div>
                                    </div>
                                    <!--end col-->

                                    <div class="col-lg-6  order-1 order-lg-2">
                                        <div class="blog-image position-relative overflow-hidden rounded shadow">
                                            <img src="{% static 'images\plant\b4.jpg' %}" class="img-fluid" alt="">
                                            <div class="img-overlay"></div>

                                            <div class="position-absolute top-0 start-0">
                                                <span class="badge bg rounded-pill m-3">افراد</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </div>
                            <!--end blog post-->
                        </div>
                        <!--end col-->

                        <div class="col-12 mt-4 pt-2">
                            <div class="card blog blog-type-three blog-primary rounded-0 border-0 overflow-hidden">
                                <div class="row align-items-center">
                                    <div class="col-lg-6">
                                        <div class="blog-image position-relative overflow-hidden rounded shadow">
                                            <img src="{% static 'images\plant\b5.jpg' %}" class="img-fluid" alt="">
                                            <div class="img-overlay"></div>

                                            <div class="position-absolute top-0 start-0">
                                                <span class="badge bg rounded-pill m-3">افراد</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end col-->

                                    <div class="col-lg-6 mt-4 mt-lg-0">
                                        <a href="../../../../../templates/Portfolio%20template/rtl-demo-getblog.aryazdh.ir/plant-detail.html" class="card-title title text-dark h5 d-block">برخی
                                            از مشتری ها ممکن است قبلاً گیاهان را در دست داشته باشند</a>
                                        <p class="text-muted mb-0">به دلیل استفاده گسترده از آن به عنوان متن پرکننده
                                            برای طرح بندی ، عدم خواندن</p>
                                        <div class="post-meta d-flex justify-content-between mt-3">
                                            <ul class="list-unstyled mb-0">
                                                <li class="list-inline-item me-2 mb-0"><a href="javascript:void(0)" class="text-muted like"><i class="uil uil-heart ms-1"></i>33</a>
                                                </li>
                                                <li class="list-inline-item"><a href="javascript:void(0)" class="text-muted comments"><i class="uil uil-comment ms-1"></i>08</a></li>
                                            </ul>
                                            <a href="blog-detail.html" class="text-muted read-more">بیشتر بخوانید <i class="uil uil-arrow-left align-middle"></i></a>
                                        </div>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </div>
                            <!--end blog post-->
                        </div>
                        <!--end col-->

                        <div class="col-12 mt-4 pt-2">
                            <div class="card blog blog-type-three blog-primary rounded-0 border-0 overflow-hidden">
                                <div class="row align-items-center">
                                    <div class="col-lg-6 order-2 order-lg-1 mt-4 mt-lg-0">
                                        <a href="../../../../../templates/Portfolio%20template/rtl-demo-getblog.aryazdh.ir/plant-detail.html" class="card-title title text-dark h5 d-block">طرح
                                            بندی مهم ترین چیز برای تزئین خانه است</a>
                                        <p class="text-muted mb-0">به دلیل استفاده گسترده از آن به عنوان متن پرکننده
                                            برای طرح بندی ، عدم خواندن</p>
                                        <div class="post-meta d-flex justify-content-between mt-3">
                                            <ul class="list-unstyled mb-0">
                                                <li class="list-inline-item me-2 mb-0"><a href="javascript:void(0)" class="text-muted like"><i class="uil uil-heart ms-1"></i>33</a>
                                                </li>
                                                <li class="list-inline-item"><a href="javascript:void(0)" class="text-muted comments"><i class="uil uil-comment ms-1"></i>08</a></li>
                                            </ul>
                                            <a href="blog-detail.html" class="text-muted read-more">بیشتر بخوانید <i class="uil uil-arrow-left align-middle"></i></a>
                                        </div>
                                    </div>
                                    <!--end col-->

                                    <div class="col-lg-6 order-1 order-lg-2">
                                        <div class="blog-image position-relative overflow-hidden rounded shadow">
                                            <img src="{% static 'images\plant\b6.jpg' %}" class="img-fluid" alt="">
                                            <div class="img-overlay"></div>

                                            <div class="position-absolute top-0 start-0">
                                                <span class="badge bg rounded-pill m-3">افراد</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </div>
                            <!--end blog post-->
                        </div>
                        <!--end col-->

                        <div class="col-12 mt-4 pt-2">
                            <div class="card blog blog-type-three blog-primary rounded-0 border-0 overflow-hidden">
                                <div class="row align-items-center">
                                    <div class="col-lg-6">
                                        <div class="blog-image position-relative overflow-hidden rounded shadow">
                                            <img src="{% static 'images\plant\b7.jpg' %}" class="img-fluid" alt="">
                                            <div class="img-overlay"></div>

                                            <div class="position-absolute top-0 start-0">
                                                <span class="badge bg rounded-pill m-3">افراد</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end col-->

                                    <div class="col-lg-6 mt-4 mt-lg-0">
                                        <a href="../../../../../templates/Portfolio%20template/rtl-demo-getblog.aryazdh.ir/plant-detail.html" class="card-title title text-dark h5 d-block">برنامه
                                            های خود را به روش خود طراحی کنید</a>
                                        <p class="text-muted mb-0">به دلیل استفاده گسترده از آن به عنوان متن پرکننده
                                            برای طرح بندی ، عدم خواندن</p>
                                        <div class="post-meta d-flex justify-content-between mt-3">
                                            <ul class="list-unstyled mb-0">
                                                <li class="list-inline-item me-2 mb-0"><a href="javascript:void(0)" class="text-muted like"><i class="uil uil-heart ms-1"></i>33</a>
                                                </li>
                                                <li class="list-inline-item"><a href="javascript:void(0)" class="text-muted comments"><i class="uil uil-comment ms-1"></i>08</a></li>
                                            </ul>
                                            <a href="blog-detail.html" class="text-muted read-more">بیشتر بخوانید <i class="uil uil-arrow-left align-middle"></i></a>
                                        </div>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </div>
                            <!--end blog post-->
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->

                    <div class="row">
                        <div class="col-12 mt-4 pt-2">
                            <ul class="pagination justify-content-center mb-0">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true"><i class="mdi mdi-chevron-right mdi-18px"></i></span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link active" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true"><i class="mdi mdi-chevron-left mdi-18px"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <!--end col-->

                <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2 mt-sm-0 pt-sm-0">
                    <div class="sidebar sticky-bar ms-lg-4">
                        <div class="text-center">
                            <h5>درباره من</h5>

                            <div class="mt-4">
                                <img src="{% static 'images\users\user-3.jpg    ' %}" class="avatar avatar-medium rounded-pill shadow-md" alt="">

                                <div class="content mt-3">
                                    <a href="#!" class="text-dark h6 d-block mb-0">احمد احمدی</a>

                                    <small class="d-block text-muted mt-1">عکاس</small>
                                </div>
                            </div>
                        </div>

                        <div class="mt-5 text-center">
                            <h5>پست های محبوب</h5>

                            <div class="widget mt-4">
                                <div class="d-flex align-items-center text-end">
                                    <img src="{% static 'images\plant\n1.jpg' %}" class="avatar avatar-md-md rounded-pill" style="width: auto;" alt="">
                                    <div class="flex-1 me-3">
                                        <a href="../../../../../templates/Portfolio%20template/rtl-demo-getblog.aryazdh.ir/plant-detail.html" class="d-block widget-post-title text-dark">مشاور
                                            کسب و کار</a>
                                        <span class="text-muted">1401/07/06</span>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center text-end mt-3">
                                    <img src="{% static 'images\plant\n2.jpg' %}" class="avatar avatar-md-md rounded-pill" style="width: auto;" alt="">
                                    <div class="flex-1 me-3">
                                        <a href="../../../../../templates/Portfolio%20template/rtl-demo-getblog.aryazdh.ir/plant-detail.html" class="d-block widget-post-title text-dark">کسب و
                                            کار خود را گسترش دهید</a>
                                        <span class="text-muted">1401/07/06</span>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center text-end mt-3">
                                    <img src="{% static 'images\plant\n3.jpg' %}" class="avatar avatar-md-md rounded-pill" style="width: auto;" alt="">
                                    <div class="flex-1 me-3">
                                        <a href="../../../../../templates/Portfolio%20template/rtl-demo-getblog.aryazdh.ir/plant-detail.html" class="d-block widget-post-title text-dark">به تعادل
                                            باشکوه نگاه کنید</a>
                                        <span class="text-muted">1401/07/06</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-5 text-center">
                            <h5>تگ ها</h5>

                            <div class="widget mt-4 text-center">
                                <div class="tagcloud">
                                    <a href="javascript:void(0)" class="rounded text-dark">کسب و کار</a>
                                    <a href="javascript:void(0)" class="rounded text-dark">دارایی</a>
                                    <a href="javascript:void(0)" class="rounded text-dark">مارکتینگ</a>
                                    <a href="javascript:void(0)" class="rounded text-dark">فشن</a>
                                    <a href="javascript:void(0)" class="rounded text-dark">عروس</a>
                                    <a href="javascript:void(0)" class="rounded text-dark">لایف استایل</a>
                                    <a href="javascript:void(0)" class="rounded text-dark">مسافرت</a>
                                    <a href="javascript:void(0)" class="rounded text-dark">زیبایی</a>
                                    <a href="javascript:void(0)" class="rounded text-dark">ویدیو</a>
                                    <a href="javascript:void(0)" class="rounded text-dark">صدا</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!--end section-->

    <section class="bg-half-170" style="background: url('../../../../../templates/Portfolio template/rtl-demo-getblog.aryazdh.ir/images/plant/cta.jpg') center center;">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="blog blog-primary text-center">
                        <a href="../../../../../templates/Portfolio%20template/rtl-demo-getblog.aryazdh.ir/plant-detail.html" class="text-white title h3 mb-3 d-block">بهترین روش درمانی برای چشم
                            ، ذهن و روح شما</a>
                        <p class="para-desc text-white-50 mx-auto mb-0">وبلاگ خود را با گت بلاگ بنویسید که می تواند همه
                            چیز را برای وبلاگ ، اخبار ، مقاله و غیره فراهم کند.</p>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!--end section-->

    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title text-center mb-4 pb-2">
                        <h4 class="title mb-3">انتخاب سردبیر</h4>
                        <p class="para-desc text-muted mx-auto mb-0">وبلاگ خود را با گت بلاگ بنویسید که می تواند همه چیز
                            را برای وبلاگ ، اخبار ، مقاله و غیره فراهم کند.</p>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->

            <div class="row">
                <div class="col-lg-3 col-md-6 mt-4 pt-2">
                    <div class="card blog blog-primary position-relative border-0 rounded overflow-hidden shadow">
                        <div class="blog-image position-relative overflow-hidden">
                            <img src="{% static 'images\plant\h1.jpg' %}" class="img-fluid" alt="">
                            <div class="bg-overlay opacity-6"></div>

                            <div class="position-absolute top-0 start-0">
                                <span class="badge bg rounded-pill m-3">افراد</span>
                            </div>
                        </div>

                        <div class="card-body content position-absolute bottom-0 start-0">
                            <a href="../../../../../templates/Portfolio%20template/rtl-demo-getblog.aryazdh.ir/plant-detail.html" class="text-white h5 title mb-0">بهترین وسایل دکوراسیون داخلی
                                گیاهان و گل ها هستند</a>
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="col-lg-3 col-md-6 mt-4 pt-2">
                    <div class="card blog blog-primary rounded-0 border-0 overflow-hidden">
                        <div class="blog-image position-relative overflow-hidden rounded shadow">
                            <img src="{% static 'images\plant\b7.jpg' %}" class="img-fluid" alt="">
                            <div class="bg-overlay opacity-6"></div>

                            <div class="position-absolute top-0 start-0">
                                <span class="badge bg rounded-pill m-3">افراد</span>
                            </div>
                        </div>
                        <a href="javascript:void(0)" class="card-title title text-dark h5 mt-4">برنامه های خود را به روش
                            خود طراحی کنید</a>
                        <div class="post-meta d-flex justify-content-between mt-2">
                            <ul class="list-unstyled mb-0">
                                <li class="list-inline-item me-2 mb-0"><a href="javascript:void(0)" class="text-muted like"><i class="uil uil-heart ms-1"></i>33</a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="text-muted comments"><i class="uil uil-comment ms-1"></i>08</a></li>
                            </ul>
                            <a href="blog-detail.html" class="text-muted read-more">بیشتر بخوانید <i class="uil uil-arrow-left align-middle"></i></a>
                        </div>
                    </div>
                    <!--end blog post-->
                </div>
                <!--end col-->

                <div class="col-lg-3 col-md-6 mt-4 pt-2">
                    <div class="card blog blog-primary rounded-0 border-0 overflow-hidden">
                        <div class="blog-image position-relative overflow-hidden rounded shadow">
                            <img src="{% static 'images\plant\b5.jpg' %}" class="img-fluid" alt="">
                            <div class="bg-overlay opacity-6"></div>

                            <div class="position-absolute top-0 start-0">
                                <span class="badge bg rounded-pill m-3">افراد</span>
                            </div>
                        </div>
                        <a href="javascript:void(0)" class="card-title title text-dark h5 mt-4">برخی از مشتری ها ممکن
                            است قبلاً گیاهان را در دست داشته باشند</a>
                        <div class="post-meta d-flex justify-content-between mt-2">
                            <ul class="list-unstyled mb-0">
                                <li class="list-inline-item me-2 mb-0"><a href="javascript:void(0)" class="text-muted like"><i class="uil uil-heart ms-1"></i>33</a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="text-muted comments"><i class="uil uil-comment ms-1"></i>08</a></li>
                            </ul>
                            <a href="blog-detail.html" class="text-muted read-more">بیشتر بخوانید <i class="uil uil-arrow-left align-middle"></i></a>
                        </div>
                    </div>
                    <!--end blog post-->
                </div>
                <!--end col-->

                <div class="col-lg-3 col-md-6 mt-4 pt-2">
                    <div class="card blog blog-primary position-relative border-0 rounded overflow-hidden shadow">
                        <div class="blog-image position-relative overflow-hidden">
                            <img src="{% static 'images\plant\h2.jpg' %}" class="img-fluid" alt="">
                            <div class="bg-overlay opacity-6"></div>

                            <div class="position-absolute top-0 start-0">
                                <span class="badge bg rounded-pill m-3">افراد</span>
                            </div>
                        </div>

                        <div class="card-body content position-absolute bottom-0 start-0">
                            <a href="../../../../../templates/Portfolio%20template/rtl-demo-getblog.aryazdh.ir/plant-detail.html" class="text-white h5 title mb-0">نحوه انتخاب ظرف مناسب برای
                                گیاه</a>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!--end section-->



{% endblock %}