{% extends 'blog-templates/base.html' %}
{% load static %}
{% block title %}
صفحه اصلی
{% endblock %}

{% block body %}

    <!-- Start -->
    <section class="bg-half-170 pb-0 d-table w-100">
        <div class="container">
            <div class="row justify-content-center" style="margin-top: 70px">
                <div class="col-lg-9">
                    <div class="d-md-flex align-items-center border-bottom pb-5">
                        <img src="{% static 'images\users\user-3.jpg' %}" class="img-fluid rounded-circle shadow-md avatar avatar-medium d-block mx-auto" alt="">

                        <div class="section-title me-md-4 mt-4 mt-sm-0 text-md-end text-center">
                            <h4 class="title mb-0">لیلا احمدی</h4>
                            <small class="fw-medium text-muted text-uppercase">روزنامه نگار / عکاس</small>

                            <p class="text-muted mt-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                                استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--end section-->
    <!-- End -->

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-6">
                    <div class="row">
                        {% for a in article %}
                        <div class="col-lg-6">
                            <div class="card border-0 bg-white shadow rounded blog blog-primary overflow-hidden">
                                <img src="{{ a.image.url }}" class="img-fluid" alt="">
                                <div class="card-body">
                                    <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                        <li>
                                            <span class="badge bg-soft rounded-pill">{{ a.category }}</span>
                                        </li>

                                        <li>
                                            <span class="text-muted">{{ a.date }}</span>
                                        </li>
                                    </ul>

                                    <a href="{{ a.get_absolut_url }}" class="text-dark h5 title">{{ a.title }}</a>

                                    <a href="{{ a.get_absolut_url }}" class="read-more d-block mt-3">بیشتر بخوانید <i class="uil uil-arrow-left align-middle"></i></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                    <!--end row-->

                    <div class="row mt-4 pt-2">
                        <div class="col-12">
                            <ul class="pagination justify-content-center mb-0">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true"><i class="mdi mdi-chevron-right mdi-18px"></i></span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link active" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true"><i class="mdi mdi-chevron-left mdi-18px"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <div class="sidebar sticky-bar ms-lg-4">
                        <!-- SEARCH -->
                        <div class="widget">
                            <h6 class="widget-title font-weight-bold pt-2 pb-2 bg-light rounded text-center">جست و جو
                            </h6>
                            <div id="search2" class="widget-search mt-4 mb-0">
                                <form role="search" method="get" id="searchform" action="/search/" class="searchform">
                                    <div>
                                        <input type="text" class="border rounded" name="q" id="s" placeholder="گذرواژه">
                                        <input type="submit" id="searchsubmit" value="Search">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- SEARCH -->

                        <!-- CATAGORIES -->
                        <div class="widget mt-4 pt-2">
                            <h6 class="widget-title font-weight-bold pt-2 pb-2 bg-light rounded text-center">دسته بندی
                                ها</h6>
                            <ul class="list-unstyled mt-4 mb-0 catagories">
                                <li class="d-flex justify-content-between"><a href="javascript:void(0)" class="title text-dark">مالی</a> <span>13</span></li>
                                <li class="d-flex justify-content-between mt-2"><a href="javascript:void(0)" class="title text-dark">کسب و کار</a> <span>09</span></li>
                                <li class="d-flex justify-content-between mt-2"><a href="javascript:void(0)" class="title text-dark">بلاگ</a> <span>18</span></li>
                                <li class="d-flex justify-content-between mt-2"><a href="javascript:void(0)" class="title text-dark">شرکت های بزرگ</a> <span>20</span></li>
                                <li class="d-flex justify-content-between mt-2"><a href="javascript:void(0)" class="title text-dark">سرمایه گذاری</a> <span>22</span></li>
                            </ul>
                        </div>
                        <!-- CATAGORIES -->

                        <!-- RECENT POST -->
                        <div class="widget mt-4 pt-2">
                            <h6 class="widget-title font-weight-bold pt-2 pb-2 bg-light rounded text-center">پست های
                                اخیر</h6>
                            <div class="mt-4">
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'images\agency\1.jpg' %}" class="avatar avatar-small rounded" style="width: auto;" alt="">
                                    <div class="flex-1 me-3">
                                        <a href="agency-blog-detail.html" class="d-block widget-post-title text-dark">مشاوره کسب و کار</a>
                                        <span class="text-muted">1401/08/09</span>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center mt-3">
                                    <img src="{% static 'images\agency\2.jpg' %}" class="avatar avatar-small rounded" style="width: auto;" alt="">
                                    <div class="flex-1 me-3">
                                        <a href="agency-blog-detail.html" class="d-block widget-post-title text-dark">رشد کسب و کار شما</a>
                                        <span class="text-muted">1401/08/09</span>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center mt-3">
                                    <img src="{% static 'images\agency\3.jpg' %}" class="avatar avatar-small rounded" style="width: auto;" alt="">
                                    <div class="flex-1 me-3">
                                        <a href="agency-blog-detail.html" class="d-block widget-post-title text-dark">به
                                            تعادل باشکوه نگاه کنید</a>
                                        <span class="text-muted">1401/08/09</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- RECENT POST -->

                        <!-- TAG CLOUDS -->
                        <div class="widget mt-4 pt-2 text-center">
                            <h6 class="widget-title font-weight-bold pt-2 pb-2 bg-light rounded">تگ ها</h6>
                            <div class="tagcloud mt-4">
                                <a href="javascript:void(0)" class="rounded text-dark">کسب و کار</a>
                                <a href="javascript:void(0)" class="rounded text-dark">مالی</a>
                                <a href="javascript:void(0)" class="rounded text-dark">بازاریابی</a>
                                <a href="javascript:void(0)" class="rounded text-dark">فشن</a>
                                <a href="javascript:void(0)" class="rounded text-dark">عروس</a>
                                <a href="javascript:void(0)" class="rounded text-dark">سبک زندگی</a>
                                <a href="javascript:void(0)" class="rounded text-dark">مسافرت</a>
                                <a href="javascript:void(0)" class="rounded text-dark">زیبایی</a>
                                <a href="javascript:void(0)" class="rounded text-dark">ویدیو</a>
                                <a href="javascript:void(0)" class="rounded text-dark">صدا</a>
                            </div>
                        </div>
                        <!-- TAG CLOUDS -->
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!--end section-->

{% endblock %}