{% extends 'blog-templates/base.html' %}
{% load static %}
{% block title %}
صفحه اصلی
{% endblock %}

{% block body %}

    <section class="magazine-hero section-two">
        <div class="container">
            <div class="row">
                <div class="col-md-1 d-none d-md-block">
                    <div class="sticky-bar">
                        <ul class="list-unstyled social-icon social mb-0">
                            <li class="mt-2"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-facebook"></i></a></li>
                            <li class="mt-2"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-instagram"></i></a></li>
                            <li class="mt-2"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-twitter"></i></a></li>
                            <li class="mt-2"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-github"></i></a></li>
                            <li class="mt-2"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-linkedin"></i></a></li>
                            <li class="mt-2"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-whatsapp"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!--end col-->

                <div class="col-md-11">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <div class="section-title">
                                <h4 class="title fw-semibold">{{ article.title }}</h4>

                                <div class="d-flex mt-4 pb-4 align-items-center justify-content-between">
                                    <div class="d-flex author align-items-center">
                                        <img src="{% static 'images\users\user-1.jpg' %}" class="avatar avatar-md-sm rounded-pill" alt="">
                                        <div class="me-2">
                                            <h6 class="user d-block mb-0"><a href="javascript:void(0)" class="text-dark">{{ article.author }}</a></h6>
                                            <small class="date text-muted mb-0">نویسنده محتوا</small>
                                        </div>
                                    </div>

                                    <div>
                                        <li class="list-inline-item text-muted"><i class="mx-1 uil uil-eye h5 text-dark"></i>263</li>

                                    </div>
                                </div>

                                <ul class="list-inline d-flex pt-4 mb-0 border-top justify-content-between">
                                    <li class="list-inline-item text-muted"><i class="uil uil-calender h5 text-dark"></i> {{ article.get_date }} </li>
                                    <li class="list-inline-item text-muted"><i class="uil uil-clock h5 text-dark"></i> {{ article.get_readtime }} </li>
                                </ul>
                            </div>

                            <div class="mt-4">
                                <img src="{{ article.image.url }}" class="img-fluid rounded shadow" alt="">
                            </div>

                            <div class="mt-4">
                                <p class="text-muted">{{ article.description|safe }}</p>
                                <blockquote class="text-center mx-auto blockquote"><i class="mdi mdi-format-quote-open mdi-48px text-muted opacity-2 d-block"></i>
                                    مردی که از طریق درب در دیوار برمی گردد ، هرگز کاملاً مشابه مردی که بیرون رفت ،
                                    نخواهد بود. <small class="d-block text-muted mt-2">- ادیسون</small></blockquote>
                            </div>

                            
                            <!--end row-->


                            <div class="card mt-4">
                                <h5 class="card-title mb-0">اخبار مرتبط :</h5>

                                <div class="row">
                                    <div class="col-lg-6 mt-4 pt-2">
                                        <div class="card border-0 bg-white shadow rounded blog blog-primary overflow-hidden">
                                            <img src="{% static 'images\agency\2.jpg' %}" class="img-fluid" alt="">
                                            <div class="card-body">
                                                <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                                    <li>
                                                        <span class="badge bg-soft rounded-pill">محبوب</span>
                                                    </li>

                                                    <li>
                                                        <span class="text-muted">1401/09/07</span>
                                                    </li>
                                                </ul>

                                                <a href="magazine-news-detail.html" class="text-dark h5 title">بازاریابی
                                                    موبایل ، سنتز آن و 2021 پیش آگهی ارائه می دهد</a>

                                                <a href="magazine-news-detail.html" class="read-more d-block mt-3">بیشتر
                                                    بخوانید <i class="uil uil-arrow-left align-middle"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end col-->

                                    <div class="col-lg-6 mt-4 pt-2">
                                        <div class="card border-0 bg-white shadow rounded blog blog-primary overflow-hidden">
                                            <img src="{% static 'images\agency\3.jpg' %}" class="img-fluid" alt="">
                                            <div class="card-body">
                                                <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                                    <li>
                                                        <span class="badge bg-soft rounded-pill">محبوب</span>
                                                    </li>

                                                    <li>
                                                        <span class="text-muted">1401/09/07</span>
                                                    </li>
                                                </ul>

                                                <a href="magazine-news-detail.html" class="text-dark h5 title">دیگر
                                                    نگران مهلت ها نباشید!ما شما را پوشانده ایم</a>

                                                <a href="magazine-news-detail.html" class="read-more d-block mt-3">بیشتر
                                                    بخوانید <i class="uil uil-arrow-left align-middle"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end col-->
                                </div>
                            </div>
                        </div>
                        <!--end col-->

                        <div class="col-lg-4 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                            <div class="sticky-bar">
                                <div class="card rounded overflow-hidden">
                                    <img src="{% static 'images\magazine\advertise.jpg' %}" class="img-fluid" alt="">
                                    <div class="bg-overlay bg-gradient-overlay"></div>

                                    <div class="card-body content position-absolute bottom-0 start-0 end-0 text-center">
                                        <img src="{% static 'images\logo-light.png' %}" height="22" alt="">
                                        <h5 class="text-white my-3">الگوی وبلاگ و مجله ما Bootstrap 5</h5>
                                        <a href="#" target="_blank" class="btn btn-primary">هم اکنون بخرید</a>
                                    </div>
                                </div>

                                <!-- RECENT POST -->
                                <div class="widget mt-4 pt-2">
                                    <h6 class="widget-title font-weight-bold pt-2 pb-2 bg-light rounded text-center">پست
                                        اخیر</h6>
                                    <div class="mt-4">
                                        {% for l in la %}
                                        <div class="d-flex align-items-center mb-4">
                                            <img src="{{ l.image.url }}" class="avatar avatar-small rounded" style="width: auto;" alt="">
                                            <div class="flex-1 me-3">
                                                <a href="{{ l.get_abolut_url }}" class="d-block widget-post-title text-dark">{{ l.title }}</a>
                                                <span class="text-muted">{{ l.get_date }}</span>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <!-- RECENT POST -->

        
                                <div class="widget mt-4 pt-2 text-center">
                                    <h6 class="widget-title font-weight-bold pt-2 pb-2 bg-light">شبکه های مجازی</h6>

                                    <ul class="list-unstyled social-icon tagline-social mb-0 mt-4">
                                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-facebook"></i></a></li>
                                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-instagram"></i></a></li>
                                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-twitter"></i></a></li>
                                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-github"></i></a></li>
                                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-linkedin"></i></a></li>
                                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-whatsapp"></i></a></li>
                                    </ul>
                                    <!--end icon-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end row-->
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!--end section-->
    <!-- End Hero -->
{% endblock %}