{% extends 'dashboard/base.html' %}

{% block title %} داشبورد {% endblock %}

{% block body %}

    <section class="magazine-hero section-two">
        <div class="container">
            <div class="row">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">عنوان</th>
                      <th scope="col">تصویر</th>
                      <th scope="col">وضعیت</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </section>

{% endblock %}