{% extends 'dashboard/base.html' %}
{% block title %} داشبورد {% endblock %}
{% load hitcount_tags %}

{% block body %}

    <section class="magazine-hero section-two">
        <div class="container">
            <div class="row">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">عنوان</th>
                      <th scope="col">تصویر</th>
                      <th scope="col">تاریخ</th>
                      <th scope="col">نویسنده</th>
                      <th scope="col">وضعیت</th>
                      <th scope="col">تعداد مشاهده</th>
                      <th scope="col">پاک کردن</th>
                    </tr>
                  </thead>
                  <tbody>
                    <form action="" method="post">
                        {% csrf_token %}
                        <tr class="text-end">
                          <td><a href="{{ a.get_absolut_url }}">{{ a.title }}</a></td>
                          <td><img src="{{ a.image.url }}" width="100" alt=""></td>
                          <td>{{ a.get_date }}</td>
                          <td>{{ a.author }}</td>
                          <td>
                            {% if a.status == '1' %}
                              <p class="text-success">منتشر شده</p>
                            {% else %}
                              <p class="text-danger">منتشر نشده</p>
                            {% endif %}
                          </td>
                          <td class="text-center">{% get_hit_count for a %}</td>
                          <td class="text-center"><button class="btn" style="color: red;" type="submit">پاک کردن</button></td>
                        </tr>
                    </form>
                  </tbody>
                </table>
            </div>
        </div>
    </section>

{% endblock %}